.other-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.other-page-content div {
    margin-bottom: 10px;
}

.previous-button {
    margin-left: auto;
}

a {
    display: inline-block;
}

a:hover {
    color: black;
    background-color: gray;
}

.round {
    margin-top: 15px;
    margin-left: 10px;
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
