.registerPage form {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    border: none;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    margin-bottom: 25px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    border-radius: 3px;
}

button:hover {
    opacity: 1;
}

.clearfix {
    justify-content: space-between;
    width: 820px;
    padding-left: 17.5%;
    position: fixed;
    margin-top: 18%;
}

.signupbtn {
    margin-left: 18.5%;
    margin-right: 1%;
}

.cancelbtn {
    background-color: #f44336;
    margin-right: 51%;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 768px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}
