.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.topic-nav {
    display: flex;
    flex-direction: column; /* Changed to row */
    justify-content: center; /* Added justify-content */
    margin-top: 0;
    align-self: start;
}

.topic-nav button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.input-form {
    display: flex; /* Added display */
    width: 500px;
}

.submit-button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
}

.input-field {
    outline: none;
    background-color: #F0F0F0;
    color: #333333;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(6, 8, 0, 0.1);
}

.post {
    background-color: #F0F0F0;
    color: #333333;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.places-autocomplete{
    position: relative;
    top: -210px;
}